.h1 { 
    background-color: lightgray;
    width: 920px;
    height: 100px;
    position: relative; 
   padding: 20px;
       margin: 0 auto;
     }


     .about {
        background-color: gray;
        position: relative;
        width: 920px;
        height: 400px;
        padding: 20px;
       margin: 0 auto;
    }
body {
    background-color: white;
}

.connect {
    position: relative;
    float: right;
    padding: 30px;
    border-style: dashed;
    border-color: black;
    right: 50px;
}
.about2 {
    position: relative;
    float: right;
    padding: 30px 10px;
}
.portfolio {
    position: relative;
    float: right;
    padding: 30px 10px;
}
.contact {
    position: relative;
    float: right;
    padding: 30px 10px;
}
.tyler {
    position: relative;
    float: left;
}
footer { 
    clear: both;
    position: relative;
    text-align: center;
    font-size: 20;
    font-style: bold;
    padding: 20px;
    background-color: gray;
    width: 920px;
    top: 10px;
    margin: 0 auto
}
.textbox {
    width: 300px;
    height: 200px;
}
.form {
    float: left;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
@media only screen and (max-width: 980px) {
    .h1, .about, footer {
       width: 700px

    }
}
@media only screen and (max-width: 768px) {
    .h1, .about, footer {
       width: 600px

    }
}
@media only screen and (max-width: 640px) {
    .h1, .about, footer {
       width: 450px

    }
    .h1 {height: 150px}
    .pagelinks {clear:both;
    float: left}
}