.h1 { 
    background-color: lightgray;
    width: 90%;
    height: 100px;
    position: relative;
    left: 30px; 
   padding: 20px


}


.about {
    background-color: gray;
    position: relative;
    float: left;
    left: 30px;
    width: 90%;
    height: 600px;
    padding: 20px;
}

body {
    background-color: white;
}

.connect {
    position: relative;
    float: right;
    padding: 30px;
    border-style: dashed;
    border-color: black;
    right: 100px;
    bottom: 150px;
}
.about2 {
    position: relative;
    float: right;
    padding: 30px 10px;
}
.portfolio {
    position: relative;
    float: right;
    padding: 30px 10px;
}
.contact {
    position: relative;
    float: right;
    padding: 30px 10px;
}
.tyler {
    position: relative;
    float: left;
}
footer { 
    clear: both;
    position: relative;
    text-align: center;
    font-size: 20;
    font-style: bold;
    padding: 20px;
    background-color: gray;
    width: 90%;
    left: 30px;
    top: 10px;
}
.bitcoin {
    position: relative;
    float:left;
    border-style: solid;
    border-color: black;
    padding: 20px;
    font-style: bold;
    font-size: 20;
}
.bitcoin2 {
    position: relative;
    float:right;
    border-style: solid;
    border-color: black;
    padding: 20px;
    left: 50px;
    font-style: bold;
    font-size: 20;
  
}

.btcgroup2 {
    position: relative;
    float: left; 
    clear: both;
    top: 20px;
}
.btcgroup1 {
    float: left; 
}